.DS_Store
dist
docs/api/**/*.yml
docs/api/**/*.md
docs/api/**/*.png
docs/api/**/*.json
node_modules
docs/.vuepress/public/api/**/*.yml
docs/.vuepress/public/api/**/*.png
docs/.vuepress/public/api/**/*.json
docs/.vuepress/apps/*.json
.nova/
.tool-versions
tmp/
