{
  "openapi": "3.0.0",
  "info": {
    "title": "Consumer API V2",
    "version": "1.0.0"
  },
  "servers": [
    {
      "description": "Production server (uses live data)",
      "url": "https://procurement.zaikio.com/api/v2/"
    },
    {
      "description": "Sandbox server (uses test data)",
      "url": "https://procurement.sandbox.zaikio.com/api/v2/"
    }
  ],
  "paths": {
    "/upcoming_suppliers": {
      "get": {
        "tags": [
          "Suppliers"
        ],
        "description": "List all suppliers that are currently integrating with Procurement, but are not yet available to connect. You can display them in a preview section, so users know what's to come.\n- needed bearer: `Organization`",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UpcomingSupplier"
                  }
                },
                "example": [
                  {
                    "id": "1e6b940c-aacb-5f07-a143-b2615a7f7f29",
                    "slug": "paper_mill",
                    "name": "Paper Mill Ltd.",
                    "article_types": [
                      "plate",
                      "ink_offset",
                      "plate_printing"
                    ],
                    "brand_color": "#F2491A",
                    "logo_url": null,
                    "created_at": "2022-04-14T12:09:35.465Z",
                    "updated_at": "2022-04-14T12:09:35.465Z"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401-UnauthorizedJWT"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/429-TooManyRequests"
          }
        }
      }
    },
    "/organizations/{organization_id}/upcoming_suppliers": {
      "get": {
        "tags": [
          "Suppliers"
        ],
        "description": "List all suppliers that are currently integrating with Procurement, but are not yet available to connect. You can display them in a preview section, so users know what's to come.\n- needed bearer: `Person`",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UpcomingSupplier"
                  }
                },
                "example": [
                  {
                    "id": "1e6b940c-aacb-5f07-a143-b2615a7f7f29",
                    "slug": "paper_mill",
                    "name": "Paper Mill Ltd.",
                    "article_types": [
                      "plate",
                      "ink_offset",
                      "plate_printing"
                    ],
                    "brand_color": "#F2491A",
                    "logo_url": null,
                    "created_at": "2022-04-14T14:09:35.468+02:00",
                    "updated_at": "2022-04-14T14:09:35.468+02:00"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401-UnauthorizedJWT"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/429-TooManyRequests"
          }
        }
      }
    },
    "/suppliers": {
      "get": {
        "tags": [
          "Suppliers"
        ],
        "description": "List all suppliers that are currently available to you.Will return already connected suppliers as well as those ready to be connected by you.\n- needed bearer: `Organization`\n- needed scopes: `procurement_consumer.article_base.r` or `procurement_consumer.article_base.rw`",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Supplier"
                  }
                },
                "example": [
                  {
                    "id": "b1475f65-236c-58b8-96e1-e1778b43beb7",
                    "slug": "bounty_soap_inc",
                    "name": "Bounty Soap Inc.",
                    "connected": false,
                    "currency": null,
                    "customer_number": null,
                    "prices_updated_at": null,
                    "additional_pricing_agreements": [],
                    "article_types": [
                      "sheet_substrate"
                    ],
                    "automatically_accept_contract_requests": false,
                    "brand_color": "#FF69B4",
                    "cancelation_policy": "before_production",
                    "logo_url": null,
                    "maximum_days_until_delivery": null,
                    "minimum_days_before_delivery": null,
                    "supports_split_delivery": true,
                    "maximum_order_size": null,
                    "created_at": "2022-04-14T12:09:35.468Z",
                    "updated_at": "2022-04-14T12:09:35.468Z"
                  },
                  {
                    "id": "1b5ded9c-6752-566f-81ad-c43a81221bd6",
                    "slug": "deluxe_paper",
                    "name": "Deluxe Paper Inc.",
                    "connected": true,
                    "currency": "EUR",
                    "customer_number": "XYZ-123",
                    "prices_updated_at": null,
                    "additional_pricing_agreements": [
                      {
                        "id": "8194d229-8147-5d11-886b-5c52c45cdadb",
                        "name": "Deluxe Paper Exclusive Catalog",
                        "created_at": "2022-04-14T12:09:35.450Z",
                        "updated_at": "2022-04-14T12:09:35.450Z"
                      }
                    ],
                    "article_types": [
                      "paper_sheetfed"
                    ],
                    "automatically_accept_contract_requests": false,
                    "brand_color": "#1A82F2",
                    "cancelation_policy": "before_production",
                    "logo_url": null,
                    "maximum_days_until_delivery": 60,
                    "minimum_days_before_delivery": 10,
                    "supports_split_delivery": true,
                    "maximum_order_size": null,
                    "created_at": "2022-04-14T12:09:35.468Z",
                    "updated_at": "2022-04-14T12:09:35.468Z"
                  },
                  {
                    "id": "42e38e01-fd19-5281-a19f-263528e406d4",
                    "slug": "open_24_hours_paper_mill",
                    "name": "Open 24 hours paper mill",
                    "connected": false,
                    "currency": null,
                    "customer_number": null,
                    "prices_updated_at": null,
                    "additional_pricing_agreements": [],
                    "article_types": [
                      "ring_binding",
                      "laminating_foil",
                      "sleeking_foil"
                    ],
                    "automatically_accept_contract_requests": true,
                    "brand_color": "#1AF269",
                    "cancelation_policy": "before_production",
                    "logo_url": null,
                    "maximum_days_until_delivery": 120,
                    "minimum_days_before_delivery": 4,
                    "supports_split_delivery": false,
                    "maximum_order_size": null,
                    "created_at": "2022-04-14T12:09:35.468Z",
                    "updated_at": "2022-04-14T12:09:35.468Z"
                  },
                  {
                    "id": "a362331b-e105-5ead-a691-e767ce70dd11",
                    "slug": "smith_papers",
                    "name": "Smith Papers",
                    "connected": true,
                    "currency": "EUR",
                    "customer_number": "DPS-12345",
                    "prices_updated_at": "2021-05-06T01:02:03.456Z",
                    "additional_pricing_agreements": [
                      {
                        "id": "ea237884-228a-5311-8b35-d3666cc44b3b",
                        "name": "Smith Papers Exclusive Catalog",
                        "created_at": "2022-04-14T12:09:35.450Z",
                        "updated_at": "2022-04-14T12:09:35.450Z"
                      }
                    ],
                    "article_types": [
                      "plate_printing",
                      "ink_offset",
                      "ink_flexo"
                    ],
                    "automatically_accept_contract_requests": false,
                    "brand_color": "#69FFB4",
                    "cancelation_policy": "before_production",
                    "logo_url": null,
                    "maximum_days_until_delivery": null,
                    "minimum_days_before_delivery": null,
                    "supports_split_delivery": true,
                    "maximum_order_size": null,
                    "created_at": "2022-04-14T12:09:35.468Z",
                    "updated_at": "2022-04-14T12:09:35.468Z"
                  },
                  {
                    "id": "ecb631c7-767e-5cc1-a9e6-2a53c6f757f2",
                    "slug": "smith_papers_distributor",
                    "name": "Smith Papers Distributor",
                    "connected": true,
                    "currency": "EUR",
                    "customer_number": null,
                    "prices_updated_at": "2021-05-06T01:02:03.456Z",
                    "additional_pricing_agreements": [],
                    "article_types": [
                      "plate_printing",
                      "ink_offset",
                      "ink_flexo"
                    ],
                    "automatically_accept_contract_requests": false,
                    "brand_color": null,
                    "cancelation_policy": "before_production",
                    "logo_url": null,
                    "maximum_days_until_delivery": null,
                    "minimum_days_before_delivery": null,
                    "supports_split_delivery": true,
                    "maximum_order_size": null,
                    "created_at": "2022-04-14T12:09:35.468Z",
                    "updated_at": "2022-04-14T12:09:35.468Z"
                  },
                  {
                    "id": "ecb631c7-767e-5cc1-a9e6-2a53c6f757f2",
                    "slug": "smith_papers_distributor",
                    "name": "Smith Papers Distributor",
                    "connected": true,
                    "currency": "EUR",
                    "customer_number": null,
                    "prices_updated_at": "2021-05-06T01:02:03.456Z",
                    "additional_pricing_agreements": [],
                    "article_types": [
                      "plate_printing",
                      "ink_offset",
                      "ink_flexo"
                    ],
                    "automatically_accept_contract_requests": false,
                    "brand_color": null,
                    "cancelation_policy": "before_production",
                    "logo_url": null,
                    "maximum_days_until_delivery": null,
                    "minimum_days_before_delivery": null,
                    "supports_split_delivery": true,
                    "maximum_order_size": null,
                    "created_at": "2022-04-14T12:09:35.468Z",
                    "updated_at": "2022-04-14T12:09:35.468Z"
                  },
                  {
                    "id": "f37152d7-85c0-50db-9f31-33cc71958e93",
                    "slug": "smith_plates",
                    "name": "Smith Plates",
                    "connected": true,
                    "currency": "EUR",
                    "customer_number": "SP-12345",
                    "prices_updated_at": "2021-05-06T01:02:03.456Z",
                    "additional_pricing_agreements": [],
                    "article_types": [
                      "paper_proofing"
                    ],
                    "automatically_accept_contract_requests": true,
                    "brand_color": "#69FFB4",
                    "cancelation_policy": "before_production",
                    "logo_url": null,
                    "maximum_days_until_delivery": null,
                    "minimum_days_before_delivery": null,
                    "supports_split_delivery": false,
                    "maximum_order_size": null,
                    "created_at": "2022-04-14T12:09:35.468Z",
                    "updated_at": "2022-04-14T12:09:35.468Z"
                  },
                  {
                    "id": "f37152d7-85c0-50db-9f31-33cc71958e93",
                    "slug": "smith_plates",
                    "name": "Smith Plates",
                    "connected": true,
                    "currency": "EUR",
                    "customer_number": "SP-12345",
                    "prices_updated_at": "2021-05-06T01:02:03.456Z",
                    "additional_pricing_agreements": [],
                    "article_types": [
                      "paper_proofing"
                    ],
                    "automatically_accept_contract_requests": true,
                    "brand_color": "#69FFB4",
                    "cancelation_policy": "before_production",
                    "logo_url": null,
                    "maximum_days_until_delivery": null,
                    "minimum_days_before_delivery": null,
                    "supports_split_delivery": false,
                    "maximum_order_size": null,
                    "created_at": "2022-04-14T12:09:35.468Z",
                    "updated_at": "2022-04-14T12:09:35.468Z"
                  },
                  {
                    "id": "03f934e6-857e-5302-803e-f5a0e1633b06",
                    "slug": "zai_paper",
                    "name": "Zai Paper",
                    "connected": true,
                    "currency": "EUR",
                    "customer_number": "4455213",
                    "prices_updated_at": null,
                    "additional_pricing_agreements": [],
                    "article_types": [
                      "sheet_substrate"
                    ],
                    "automatically_accept_contract_requests": false,
                    "brand_color": "#000000",
                    "cancelation_policy": "before_production",
                    "logo_url": null,
                    "maximum_days_until_delivery": null,
                    "minimum_days_before_delivery": null,
                    "supports_split_delivery": true,
                    "maximum_order_size": null,
                    "created_at": "2022-04-14T12:09:35.468Z",
                    "updated_at": "2022-04-14T12:09:35.468Z"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401-UnauthorizedJWT"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/429-TooManyRequests"
          }
        }
      }
    },
    "/suppliers/{supplier_id}": {
      "get": {
        "tags": [
          "Suppliers"
        ],
        "description": "List the specific supplier that is available to you.Will return already connected suppliers as well as those ready to be connected by you.\n- needed bearer: `Organization`\n- needed scopes: `procurement_consumer.article_base.r` or `procurement_consumer.article_base.rw`",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "supplier_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Supplier"
                },
                "example": {
                  "id": "03f934e6-857e-5302-803e-f5a0e1633b06",
                  "slug": "zai_paper",
                  "name": "Zai Paper",
                  "connected": true,
                  "currency": "EUR",
                  "customer_number": "4455213",
                  "prices_updated_at": null,
                  "additional_pricing_agreements": [],
                  "article_types": [
                    "sheet_substrate"
                  ],
                  "automatically_accept_contract_requests": false,
                  "brand_color": "#000000",
                  "cancelation_policy": "before_production",
                  "logo_url": null,
                  "maximum_days_until_delivery": null,
                  "minimum_days_before_delivery": null,
                  "supports_split_delivery": true,
                  "maximum_order_size": null,
                  "created_at": "2022-04-14T12:09:35.465Z",
                  "updated_at": "2022-04-14T12:09:35.465Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401-UnauthorizedJWT"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/429-TooManyRequests"
          }
        }
      }
    },
    "/organizations/{organization_id}/suppliers": {
      "get": {
        "tags": [
          "Suppliers"
        ],
        "description": "List all suppliers that are currently available to you.Will return already connected suppliers as well as those ready to be connected by you.\n- needed bearer: `Person`\n- needed scopes: `procurement_consumer.article_base.r` or `procurement_consumer.article_base.rw`",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Supplier"
                  }
                },
                "example": [
                  {
                    "id": "b1475f65-236c-58b8-96e1-e1778b43beb7",
                    "slug": "bounty_soap_inc",
                    "name": "Bounty Soap Inc.",
                    "connected": false,
                    "currency": null,
                    "customer_number": null,
                    "prices_updated_at": null,
                    "additional_pricing_agreements": [],
                    "article_types": [
                      "sheet_substrate"
                    ],
                    "automatically_accept_contract_requests": false,
                    "brand_color": "#FF69B4",
                    "cancelation_policy": "before_production",
                    "logo_url": null,
                    "maximum_days_until_delivery": null,
                    "minimum_days_before_delivery": null,
                    "supports_split_delivery": true,
                    "maximum_order_size": null,
                    "created_at": "2022-04-14T14:09:35.465+02:00",
                    "updated_at": "2022-04-14T14:09:35.465+02:00"
                  },
                  {
                    "id": "1b5ded9c-6752-566f-81ad-c43a81221bd6",
                    "slug": "deluxe_paper",
                    "name": "Deluxe Paper Inc.",
                    "connected": true,
                    "currency": "EUR",
                    "customer_number": "XYZ-123",
                    "prices_updated_at": null,
                    "additional_pricing_agreements": [
                      {
                        "id": "8194d229-8147-5d11-886b-5c52c45cdadb",
                        "name": "Deluxe Paper Exclusive Catalog",
                        "created_at": "2022-04-14T14:09:35.450+02:00",
                        "updated_at": "2022-04-14T14:09:35.450+02:00"
                      }
                    ],
                    "article_types": [
                      "paper_sheetfed"
                    ],
                    "automatically_accept_contract_requests": false,
                    "brand_color": "#1A82F2",
                    "cancelation_policy": "before_production",
                    "logo_url": null,
                    "maximum_days_until_delivery": 60,
                    "minimum_days_before_delivery": 10,
                    "supports_split_delivery": true,
                    "maximum_order_size": null,
                    "created_at": "2022-04-14T14:09:35.465+02:00",
                    "updated_at": "2022-04-14T14:09:35.465+02:00"
                  },
                  {
                    "id": "42e38e01-fd19-5281-a19f-263528e406d4",
                    "slug": "open_24_hours_paper_mill",
                    "name": "Open 24 hours paper mill",
                    "connected": false,
                    "currency": null,
                    "customer_number": null,
                    "prices_updated_at": null,
                    "additional_pricing_agreements": [],
                    "article_types": [
                      "ring_binding",
                      "laminating_foil",
                      "sleeking_foil"
                    ],
                    "automatically_accept_contract_requests": true,
                    "brand_color": "#1AF269",
                    "cancelation_policy": "before_production",
                    "logo_url": null,
                    "maximum_days_until_delivery": 120,
                    "minimum_days_before_delivery": 4,
                    "supports_split_delivery": false,
                    "maximum_order_size": null,
                    "created_at": "2022-04-14T14:09:35.465+02:00",
                    "updated_at": "2022-04-14T14:09:35.465+02:00"
                  },
                  {
                    "id": "a362331b-e105-5ead-a691-e767ce70dd11",
                    "slug": "smith_papers",
                    "name": "Smith Papers",
                    "connected": true,
                    "currency": "EUR",
                    "customer_number": "DPS-12345",
                    "prices_updated_at": "2021-05-06T03:02:03.456+02:00",
                    "additional_pricing_agreements": [
                      {
                        "id": "ea237884-228a-5311-8b35-d3666cc44b3b",
                        "name": "Smith Papers Exclusive Catalog",
                        "created_at": "2022-04-14T14:09:35.450+02:00",
                        "updated_at": "2022-04-14T14:09:35.450+02:00"
                      }
                    ],
                    "article_types": [
                      "plate_printing",
                      "ink_offset",
                      "ink_flexo"
                    ],
                    "automatically_accept_contract_requests": false,
                    "brand_color": "#69FFB4",
                    "cancelation_policy": "before_production",
                    "logo_url": null,
                    "maximum_days_until_delivery": null,
                    "minimum_days_before_delivery": null,
                    "supports_split_delivery": true,
                    "maximum_order_size": null,
                    "created_at": "2022-04-14T14:09:35.465+02:00",
                    "updated_at": "2022-04-14T14:09:35.465+02:00"
                  },
                  {
                    "id": "ecb631c7-767e-5cc1-a9e6-2a53c6f757f2",
                    "slug": "smith_papers_distributor",
                    "name": "Smith Papers Distributor",
                    "connected": true,
                    "currency": "EUR",
                    "customer_number": null,
                    "prices_updated_at": "2021-05-06T03:02:03.456+02:00",
                    "additional_pricing_agreements": [],
                    "article_types": [
                      "plate_printing",
                      "ink_offset",
                      "ink_flexo"
                    ],
                    "automatically_accept_contract_requests": false,
                    "brand_color": null,
                    "cancelation_policy": "before_production",
                    "logo_url": null,
                    "maximum_days_until_delivery": null,
                    "minimum_days_before_delivery": null,
                    "supports_split_delivery": true,
                    "maximum_order_size": null,
                    "created_at": "2022-04-14T14:09:35.465+02:00",
                    "updated_at": "2022-04-14T14:09:35.465+02:00"
                  },
                  {
                    "id": "ecb631c7-767e-5cc1-a9e6-2a53c6f757f2",
                    "slug": "smith_papers_distributor",
                    "name": "Smith Papers Distributor",
                    "connected": true,
                    "currency": "EUR",
                    "customer_number": null,
                    "prices_updated_at": "2021-05-06T03:02:03.456+02:00",
                    "additional_pricing_agreements": [],
                    "article_types": [
                      "plate_printing",
                      "ink_offset",
                      "ink_flexo"
                    ],
                    "automatically_accept_contract_requests": false,
                    "brand_color": null,
                    "cancelation_policy": "before_production",
                    "logo_url": null,
                    "maximum_days_until_delivery": null,
                    "minimum_days_before_delivery": null,
                    "supports_split_delivery": true,
                    "maximum_order_size": null,
                    "created_at": "2022-04-14T14:09:35.465+02:00",
                    "updated_at": "2022-04-14T14:09:35.465+02:00"
                  },
                  {
                    "id": "f37152d7-85c0-50db-9f31-33cc71958e93",
                    "slug": "smith_plates",
                    "name": "Smith Plates",
                    "connected": true,
                    "currency": "EUR",
                    "customer_number": "SP-12345",
                    "prices_updated_at": "2021-05-06T03:02:03.456+02:00",
                    "additional_pricing_agreements": [],
                    "article_types": [
                      "paper_proofing"
                    ],
                    "automatically_accept_contract_requests": true,
                    "brand_color": "#69FFB4",
                    "cancelation_policy": "before_production",
                    "logo_url": null,
                    "maximum_days_until_delivery": null,
                    "minimum_days_before_delivery": null,
                    "supports_split_delivery": false,
                    "maximum_order_size": null,
                    "created_at": "2022-04-14T14:09:35.465+02:00",
                    "updated_at": "2022-04-14T14:09:35.465+02:00"
                  },
                  {
                    "id": "f37152d7-85c0-50db-9f31-33cc71958e93",
                    "slug": "smith_plates",
                    "name": "Smith Plates",
                    "connected": true,
                    "currency": "EUR",
                    "customer_number": "SP-12345",
                    "prices_updated_at": "2021-05-06T03:02:03.456+02:00",
                    "additional_pricing_agreements": [],
                    "article_types": [
                      "paper_proofing"
                    ],
                    "automatically_accept_contract_requests": true,
                    "brand_color": "#69FFB4",
                    "cancelation_policy": "before_production",
                    "logo_url": null,
                    "maximum_days_until_delivery": null,
                    "minimum_days_before_delivery": null,
                    "supports_split_delivery": false,
                    "maximum_order_size": null,
                    "created_at": "2022-04-14T14:09:35.465+02:00",
                    "updated_at": "2022-04-14T14:09:35.465+02:00"
                  },
                  {
                    "id": "03f934e6-857e-5302-803e-f5a0e1633b06",
                    "slug": "zai_paper",
                    "name": "Zai Paper",
                    "connected": true,
                    "currency": "EUR",
                    "customer_number": "4455213",
                    "prices_updated_at": null,
                    "additional_pricing_agreements": [],
                    "article_types": [
                      "sheet_substrate"
                    ],
                    "automatically_accept_contract_requests": false,
                    "brand_color": "#000000",
                    "cancelation_policy": "before_production",
                    "logo_url": null,
                    "maximum_days_until_delivery": null,
                    "minimum_days_before_delivery": null,
                    "supports_split_delivery": true,
                    "maximum_order_size": null,
                    "created_at": "2022-04-14T14:09:35.465+02:00",
                    "updated_at": "2022-04-14T14:09:35.465+02:00"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401-UnauthorizedJWT"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/429-TooManyRequests"
          }
        }
      }
    },
    "/organizations/{organization_id}/suppliers/{supplier_id}": {
      "get": {
        "tags": [
          "Suppliers"
        ],
        "description": "List the specific supplier that is available to you.Will return already connected suppliers as well as those ready to be connected by you.\n- needed bearer: `Person`\n- needed scopes: `procurement_consumer.article_base.r` or `procurement_consumer.article_base.rw`",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "supplier_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Supplier"
                },
                "example": {
                  "id": "03f934e6-857e-5302-803e-f5a0e1633b06",
                  "slug": "zai_paper",
                  "name": "Zai Paper",
                  "connected": true,
                  "currency": "EUR",
                  "customer_number": "4455213",
                  "prices_updated_at": null,
                  "additional_pricing_agreements": [],
                  "article_types": [
                    "sheet_substrate"
                  ],
                  "automatically_accept_contract_requests": false,
                  "brand_color": "#000000",
                  "cancelation_policy": "before_production",
                  "logo_url": null,
                  "maximum_days_until_delivery": null,
                  "minimum_days_before_delivery": null,
                  "supports_split_delivery": true,
                  "maximum_order_size": null,
                  "created_at": "2022-04-19T10:35:16.814+02:00",
                  "updated_at": "2022-04-19T10:35:16.814+02:00"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401-UnauthorizedJWT"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/429-TooManyRequests"
          }
        }
      }
    },
    "/sites": {
      "get": {
        "tags": [
          "Sites"
        ],
        "description": "List all sites belonging to your organization. These are required as part of the ordering process. Please be aware that only sites with valid addresses will be returned as only those can be used for ordering. In order to create or update sites, incl. adding valid addresses, please use the Zaikio Hub (either via API or via the website).\n- needed bearer: `Organization`",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageParam"
          },
          {
            "$ref": "#/components/parameters/perPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Site"
                  }
                },
                "example": [
                  {
                    "id": "27a2480f-bf8e-5e31-80ab-784bf98cd765",
                    "name": "Doe Print Services Headquarter",
                    "headquarter": true,
                    "address": {
                      "addition": null,
                      "addressee": "Doe Print Services @ Zaikio",
                      "country_code": "DE",
                      "county": null,
                      "location": [
                        49.992863,
                        8.247253
                      ],
                      "number": "1A",
                      "state": "Rheinland Pfalz",
                      "street": "Emmerich-Josef-Straße",
                      "town": "Mainz",
                      "zip_code": "55116"
                    },
                    "created_at": "2022-04-14T12:09:35.453Z",
                    "updated_at": "2022-04-14T12:09:35.453Z"
                  },
                  {
                    "id": "ffdd375b-80c9-5372-836a-8cb605cae0f7",
                    "name": "Doe Print Services Headquarter",
                    "headquarter": false,
                    "address": {
                      "addition": null,
                      "addressee": "Doe Print Services @ Zaikio",
                      "country_code": "DE",
                      "county": null,
                      "location": [
                        49.992863,
                        8.247253
                      ],
                      "number": "1A",
                      "state": "Rheinland Pfalz",
                      "street": "Emmerich-Josef-Straße",
                      "town": "Mainz",
                      "zip_code": "55116"
                    },
                    "created_at": "2022-04-14T12:09:35.453Z",
                    "updated_at": "2022-04-14T12:09:35.453Z"
                  }
                ]
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Link"
              },
              "Current-Page": {
                "$ref": "#/components/headers/Current-Page"
              },
              "Total-Count": {
                "$ref": "#/components/headers/Total-Count"
              },
              "Total-Pages": {
                "$ref": "#/components/headers/Total-Pages"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequestInvalidPage"
          },
          "401": {
            "$ref": "#/components/responses/401-UnauthorizedJWT"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/429-TooManyRequests"
          }
        }
      }
    },
    "/organizations/{organization_id}/sites": {
      "get": {
        "tags": [
          "Sites"
        ],
        "description": "List all sites belonging to your organization. These are required as part of the ordering process. Please be aware that only sites with valid addresses will be returned as only those can be used for ordering. In order to create or update sites, incl. adding valid addresses, please use the Zaikio Hub (either via API or via the website).\n- needed bearer: `Person`",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/pageParam"
          },
          {
            "$ref": "#/components/parameters/perPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Site"
                  }
                },
                "example": [
                  {
                    "id": "27a2480f-bf8e-5e31-80ab-784bf98cd765",
                    "name": "Doe Print Services Headquarter",
                    "headquarter": true,
                    "address": {
                      "addition": null,
                      "addressee": "Doe Print Services @ Zaikio",
                      "country_code": "DE",
                      "county": null,
                      "location": [
                        49.992863,
                        8.247253
                      ],
                      "number": "1A",
                      "state": "Rheinland Pfalz",
                      "street": "Emmerich-Josef-Straße",
                      "town": "Mainz",
                      "zip_code": "55116"
                    },
                    "created_at": "2022-04-14T14:09:35.453+02:00",
                    "updated_at": "2022-04-14T14:09:35.453+02:00"
                  },
                  {
                    "id": "ffdd375b-80c9-5372-836a-8cb605cae0f7",
                    "name": "Doe Print Services Headquarter",
                    "headquarter": false,
                    "address": {
                      "addition": null,
                      "addressee": "Doe Print Services @ Zaikio",
                      "country_code": "DE",
                      "county": null,
                      "location": [
                        49.992863,
                        8.247253
                      ],
                      "number": "1A",
                      "state": "Rheinland Pfalz",
                      "street": "Emmerich-Josef-Straße",
                      "town": "Mainz",
                      "zip_code": "55116"
                    },
                    "created_at": "2022-04-14T14:09:35.453+02:00",
                    "updated_at": "2022-04-14T14:09:35.453+02:00"
                  }
                ]
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Link"
              },
              "Current-Page": {
                "$ref": "#/components/headers/Current-Page"
              },
              "Total-Count": {
                "$ref": "#/components/headers/Total-Count"
              },
              "Total-Pages": {
                "$ref": "#/components/headers/Total-Pages"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequestInvalidPage"
          },
          "401": {
            "$ref": "#/components/responses/401-UnauthorizedJWT"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/429-TooManyRequests"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "List your orders. Excludes drafts orders, unless they were created by the same app.\n- needed bearer: `Organization`\n- needed scopes: `procurement_consumer.orders.r` or `procurement_consumer.orders.rw`",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageParam"
          },
          {
            "$ref": "#/components/parameters/perPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                },
                "example": [
                  {
                    "id": "c109559a-aa5e-5371-b473-20e81366cf4d",
                    "currency": "EUR",
                    "references": [
                      "CO/JDPS01"
                    ],
                    "state": "placed",
                    "pricing": {
                      "accuracy": "verified",
                      "total_net_price": "215600.0",
                      "total_gross_price": "0.0",
                      "net_handling_fee": null,
                      "net_shipping_fee": null,
                      "taxes": "0.0",
                      "taxes_on_fees": null
                    },
                    "canceled_by_consumer_at": null,
                    "canceled_by_supplier_at": null,
                    "confirmed_at": null,
                    "placed_at": "2022-03-14T03:14:15.000Z",
                    "transferred_at": null,
                    "delivery": {
                      "accuracy": "verified",
                      "date": "2022-06-14",
                      "desired_delivery_date": "2023-01-01",
                      "address": {
                        "id": "a060f862-fde7-5ba4-bb60-04ef3d6849ae",
                        "addition": null,
                        "addressee": "Doe Print Services @ Zaikio",
                        "country_code": "DE",
                        "county": null,
                        "kind": "shipping",
                        "location": null,
                        "number": null,
                        "state": null,
                        "street": "Emmerich-Josef-Straße 1A",
                        "text": "Emmerich-Josef-Straße 1A, 55116 Mainz",
                        "town": "Mainz",
                        "types": [],
                        "zip_code": "55116",
                        "addressable": {
                          "id": "84bb7fea-d7c2-5383-aef4-e3ae1c1c6784",
                          "type": "Consumer",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://hub.sandbox.zaikio.com/api/v1/person/organizations"
                            }
                          ]
                        },
                        "created_at": "2022-04-14T12:09:35.233Z",
                        "updated_at": "2022-04-14T12:09:35.233Z"
                      }
                    },
                    "person": {
                      "id": "e1e65eee-135a-55a5-b2ce-921c6186b762",
                      "full_name": "John Doe",
                      "links": [
                        {
                          "rel": "self",
                          "href": "https://hub.sandbox.zaikio.com/api/v1/people/e1e65eee-135a-55a5-b2ce-921c6186b762"
                        }
                      ]
                    },
                    "order_line_items": [
                      {
                        "references": [
                          "COL/PIDAY"
                        ],
                        "amount": 4200,
                        "amount_in_base_unit": 4200,
                        "base_unit": "sheet",
                        "confirmed_delivery_at": null,
                        "description": "Smith Papers Magno Volume",
                        "order_number": "BS-5041487395",
                        "pricing": {
                          "unit_net_price": "21.56",
                          "total_net_price": "90552.0",
                          "tax_rate": null,
                          "taxes": "0.0",
                          "total_gross_price": "90552.0"
                        },
                        "sku": {
                          "id": "0c9af85b-1cab-590a-905e-038acd9bdfe3",
                          "amount": 1,
                          "amount_in_base_unit": 1,
                          "environmental_certification": null,
                          "order_number": "MAGVOL|115|92.0|65.0|0250|000000||S|SH||v1",
                          "palletized": false,
                          "unit": "sheet"
                        },
                        "created_at": "2022-04-14T12:09:35.423Z",
                        "updated_at": "2022-04-14T12:09:35.423Z"
                      }
                    ],
                    "links": [
                      {
                        "rel": "self",
                        "href": "/api/v2/orders/c109559a-aa5e-5371-b473-20e81366cf4d"
                      }
                    ],
                    "created_at": "2020-05-23T07:08:47.000Z",
                    "updated_at": "2022-04-14T12:09:35.430Z"
                  }
                ]
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Link"
              },
              "Current-Page": {
                "$ref": "#/components/headers/Current-Page"
              },
              "Total-Count": {
                "$ref": "#/components/headers/Total-Count"
              },
              "Total-Pages": {
                "$ref": "#/components/headers/Total-Pages"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequestInvalidPage"
          },
          "401": {
            "$ref": "#/components/responses/401-UnauthorizedJWT"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/429-TooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "description": "\n- needed bearer: `Organization`\n- needed scopes: `procurement_consumer.orders.w` or `procurement_consumer.orders.rw`",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "order"
                ],
                "properties": {
                  "order": {
                    "$ref": "#/components/schemas/Order_create"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                },
                "example": {
                  "id": "1c8dfb98-0d37-4f52-bfa4-de089eb52fa0",
                  "currency": "EUR",
                  "references": [
                    "CO/CT8N1T",
                    "cool"
                  ],
                  "state": "draft",
                  "pricing": {
                    "accuracy": "in_verification",
                    "total_net_price": "500.0",
                    "total_gross_price": "0.0",
                    "net_handling_fee": null,
                    "net_shipping_fee": null,
                    "taxes": "0.0",
                    "taxes_on_fees": null
                  },
                  "canceled_by_consumer_at": null,
                  "canceled_by_supplier_at": null,
                  "confirmed_at": null,
                  "placed_at": null,
                  "transferred_at": null,
                  "delivery": {
                    "accuracy": "in_verification",
                    "date": null,
                    "desired_delivery_date": "2022-04-15",
                    "address": {
                      "id": "fc3bd7fb-161f-403b-88c8-c4d6b3f6d3d6",
                      "addition": null,
                      "addressee": "Doe Print Services @ Zaikio",
                      "country_code": "DE",
                      "county": null,
                      "kind": "shipping",
                      "location": [
                        49.99713999999999,
                        8.26519
                      ],
                      "number": "1A",
                      "state": "Rheinland Pfalz",
                      "street": "Emmerich-Josef-Straße",
                      "text": null,
                      "town": "Mainz",
                      "types": [
                        "street_address"
                      ],
                      "zip_code": "55116",
                      "addressable": {
                        "id": "84bb7fea-d7c2-5383-aef4-e3ae1c1c6784",
                        "type": "Consumer",
                        "links": [
                          {
                            "rel": "self",
                            "href": "https://hub.sandbox.zaikio.com/api/v1/person/organizations"
                          }
                        ]
                      },
                      "created_at": "2022-04-14T12:09:38.399Z",
                      "updated_at": "2022-04-14T12:09:38.399Z"
                    }
                  },
                  "person": null,
                  "order_line_items": [
                    {
                      "references": [
                        "COL/U8DEPN"
                      ],
                      "amount": 1,
                      "amount_in_base_unit": 8500,
                      "base_unit": "sheet",
                      "confirmed_delivery_at": null,
                      "description": "SMITH VOLUME PAPER – PS1 - Premium Coated, 920 × 650 mm, 115 g/㎡, short – FSC Mix Credit, 1 pallet of 8,500 sheets, 500.0 kg",
                      "order_number": "MAGVOL|115|92.0|65.0|0250|008500|FSC|S|PL||v1",
                      "pricing": {
                        "unit_net_price": "500.0",
                        "total_net_price": "500.0",
                        "tax_rate": null,
                        "taxes": null,
                        "total_gross_price": null
                      },
                      "sku": {
                        "id": "6f37e858-6e87-5119-881c-3e6a48aee8b1",
                        "amount": 1,
                        "amount_in_base_unit": 8500,
                        "environmental_certification": "FSC Mix Credit",
                        "order_number": "MAGVOL|115|92.0|65.0|0250|008500|FSC|S|PL||v1",
                        "palletized": true,
                        "unit": "pallet"
                      },
                      "created_at": "2022-04-14T12:09:38.394Z",
                      "updated_at": "2022-04-14T12:09:38.394Z"
                    }
                  ],
                  "links": [
                    {
                      "rel": "self",
                      "href": "/api/v2/orders/1c8dfb98-0d37-4f52-bfa4-de089eb52fa0"
                    }
                  ],
                  "created_at": "2022-04-14T12:09:38.389Z",
                  "updated_at": "2022-04-14T12:09:38.389Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequestValidation"
          },
          "401": {
            "$ref": "#/components/responses/401-UnauthorizedJWT"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/429-TooManyRequests"
          }
        }
      }
    },
    "/orders/{order_id}/place": {
      "patch": {
        "tags": [
          "Orders"
        ],
        "description": "Place the order, submitting it to the supplier\n- needed bearer: `Organization`\n- needed scopes: `procurement_consumer.orders.w` or `procurement_consumer.orders.rw`",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "order_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                },
                "example": {
                  "id": "6baeb914-1174-51a8-a9b3-4d09f01f510a",
                  "currency": "EUR",
                  "references": [
                    "CO/JDPS01"
                  ],
                  "state": "placed",
                  "pricing": {
                    "accuracy": "verified",
                    "total_net_price": "215600.0",
                    "total_gross_price": "0.0",
                    "net_handling_fee": null,
                    "net_shipping_fee": null,
                    "taxes": "0.0",
                    "taxes_on_fees": null
                  },
                  "canceled_by_consumer_at": null,
                  "canceled_by_supplier_at": null,
                  "confirmed_at": null,
                  "placed_at": "2022-04-14T12:09:36.240Z",
                  "transferred_at": null,
                  "delivery": {
                    "accuracy": "verified",
                    "date": "2022-06-14",
                    "desired_delivery_date": "2023-01-01",
                    "address": {
                      "id": "a060f862-fde7-5ba4-bb60-04ef3d6849ae",
                      "addition": null,
                      "addressee": "Doe Print Services @ Zaikio",
                      "country_code": "DE",
                      "county": null,
                      "kind": "shipping",
                      "location": null,
                      "number": null,
                      "state": null,
                      "street": "Emmerich-Josef-Straße 1A",
                      "text": "Emmerich-Josef-Straße 1A, 55116 Mainz",
                      "town": "Mainz",
                      "types": [],
                      "zip_code": "55116",
                      "addressable": {
                        "id": "84bb7fea-d7c2-5383-aef4-e3ae1c1c6784",
                        "type": "Consumer",
                        "links": [
                          {
                            "rel": "self",
                            "href": "https://hub.sandbox.zaikio.com/api/v1/person/organizations"
                          }
                        ]
                      },
                      "created_at": "2022-04-14T12:09:35.233Z",
                      "updated_at": "2022-04-14T12:09:35.233Z"
                    }
                  },
                  "person": {
                    "id": "e1e65eee-135a-55a5-b2ce-921c6186b762",
                    "full_name": "John Doe",
                    "links": [
                      {
                        "rel": "self",
                        "href": "https://hub.sandbox.zaikio.com/api/v1/people/e1e65eee-135a-55a5-b2ce-921c6186b762"
                      }
                    ]
                  },
                  "order_line_items": [
                    {
                      "references": [
                        "COL/XTRUAA"
                      ],
                      "amount": 10000,
                      "amount_in_base_unit": 10000,
                      "base_unit": "sheet",
                      "confirmed_delivery_at": null,
                      "description": "Smith Papers Magno Volume",
                      "order_number": "BS-5041487395",
                      "pricing": {
                        "unit_net_price": "21.56",
                        "total_net_price": "215600.0",
                        "tax_rate": null,
                        "taxes": "0.0",
                        "total_gross_price": "215600.0"
                      },
                      "sku": {
                        "id": "0c9af85b-1cab-590a-905e-038acd9bdfe3",
                        "amount": 1,
                        "amount_in_base_unit": 1,
                        "environmental_certification": null,
                        "order_number": "MAGVOL|115|92.0|65.0|0250|000000||S|SH||v1",
                        "palletized": false,
                        "unit": "sheet"
                      },
                      "created_at": "2022-04-14T12:09:35.418Z",
                      "updated_at": "2022-04-14T12:09:35.418Z"
                    }
                  ],
                  "links": [
                    {
                      "rel": "self",
                      "href": "/api/v2/orders/6baeb914-1174-51a8-a9b3-4d09f01f510a"
                    }
                  ],
                  "created_at": "2020-05-23T07:08:47.000Z",
                  "updated_at": "2022-04-14T12:09:36.305Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequestValidation"
          },
          "401": {
            "$ref": "#/components/responses/401-UnauthorizedJWT"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/429-TooManyRequests"
          }
        }
      }
    },
    "/orders/{order_id}/cancel": {
      "patch": {
        "tags": [
          "Orders"
        ],
        "description": "Cancel the order (if possible)\n- needed bearer: `Organization`\n- needed scopes: `procurement_consumer.orders.w` or `procurement_consumer.orders.rw`",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "order_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                },
                "example": {
                  "id": "c109559a-aa5e-5371-b473-20e81366cf4d",
                  "currency": "EUR",
                  "references": [
                    "CO/JDPS01"
                  ],
                  "state": "canceled_by_consumer",
                  "pricing": {
                    "accuracy": "verified",
                    "total_net_price": "215600.0",
                    "total_gross_price": "0.0",
                    "net_handling_fee": null,
                    "net_shipping_fee": null,
                    "taxes": "0.0",
                    "taxes_on_fees": null
                  },
                  "canceled_by_consumer_at": "2022-04-14T12:09:36.239Z",
                  "canceled_by_supplier_at": null,
                  "confirmed_at": null,
                  "placed_at": "2022-03-14T03:14:15.000Z",
                  "transferred_at": null,
                  "delivery": {
                    "accuracy": "verified",
                    "date": "2022-06-14",
                    "desired_delivery_date": "2023-01-01",
                    "address": {
                      "id": "a060f862-fde7-5ba4-bb60-04ef3d6849ae",
                      "addition": null,
                      "addressee": "Doe Print Services @ Zaikio",
                      "country_code": "DE",
                      "county": null,
                      "kind": "shipping",
                      "location": null,
                      "number": null,
                      "state": null,
                      "street": "Emmerich-Josef-Straße 1A",
                      "text": "Emmerich-Josef-Straße 1A, 55116 Mainz",
                      "town": "Mainz",
                      "types": [],
                      "zip_code": "55116",
                      "addressable": {
                        "id": "84bb7fea-d7c2-5383-aef4-e3ae1c1c6784",
                        "type": "Consumer",
                        "links": [
                          {
                            "rel": "self",
                            "href": "https://hub.sandbox.zaikio.com/api/v1/person/organizations"
                          }
                        ]
                      },
                      "created_at": "2022-04-14T12:09:35.233Z",
                      "updated_at": "2022-04-14T12:09:35.233Z"
                    }
                  },
                  "person": {
                    "id": "e1e65eee-135a-55a5-b2ce-921c6186b762",
                    "full_name": "John Doe",
                    "links": [
                      {
                        "rel": "self",
                        "href": "https://hub.sandbox.zaikio.com/api/v1/people/e1e65eee-135a-55a5-b2ce-921c6186b762"
                      }
                    ]
                  },
                  "order_line_items": [
                    {
                      "references": [
                        "COL/PIDAY"
                      ],
                      "amount": 4200,
                      "amount_in_base_unit": 4200,
                      "base_unit": "sheet",
                      "confirmed_delivery_at": null,
                      "description": "Smith Papers Magno Volume",
                      "order_number": "BS-5041487395",
                      "pricing": {
                        "unit_net_price": "21.56",
                        "total_net_price": "90552.0",
                        "tax_rate": null,
                        "taxes": "0.0",
                        "total_gross_price": "90552.0"
                      },
                      "sku": {
                        "id": "0c9af85b-1cab-590a-905e-038acd9bdfe3",
                        "amount": 1,
                        "amount_in_base_unit": 1,
                        "environmental_certification": null,
                        "order_number": "MAGVOL|115|92.0|65.0|0250|000000||S|SH||v1",
                        "palletized": false,
                        "unit": "sheet"
                      },
                      "created_at": "2022-04-14T12:09:35.423Z",
                      "updated_at": "2022-04-14T12:09:35.423Z"
                    }
                  ],
                  "links": [
                    {
                      "rel": "self",
                      "href": "/api/v2/orders/c109559a-aa5e-5371-b473-20e81366cf4d"
                    }
                  ],
                  "created_at": "2020-05-23T07:08:47.000Z",
                  "updated_at": "2022-04-14T12:09:36.303Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequestValidation"
          },
          "401": {
            "$ref": "#/components/responses/401-UnauthorizedJWT"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/429-TooManyRequests"
          }
        }
      }
    },
    "/orders/{order_id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "Show a single order\n- needed bearer: `Organization`\n- needed scopes: `procurement_consumer.orders.r` or `procurement_consumer.orders.rw`",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "order_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                },
                "example": {
                  "id": "c109559a-aa5e-5371-b473-20e81366cf4d",
                  "currency": "EUR",
                  "references": [
                    "CO/JDPS01"
                  ],
                  "state": "placed",
                  "pricing": {
                    "accuracy": "verified",
                    "total_net_price": "215600.0",
                    "total_gross_price": "0.0",
                    "net_handling_fee": null,
                    "net_shipping_fee": null,
                    "taxes": "0.0",
                    "taxes_on_fees": null
                  },
                  "canceled_by_consumer_at": null,
                  "canceled_by_supplier_at": null,
                  "confirmed_at": null,
                  "placed_at": "2022-03-14T03:14:15.000Z",
                  "transferred_at": null,
                  "delivery": {
                    "accuracy": "verified",
                    "date": "2022-06-14",
                    "desired_delivery_date": "2023-01-01",
                    "address": {
                      "id": "a060f862-fde7-5ba4-bb60-04ef3d6849ae",
                      "addition": null,
                      "addressee": "Doe Print Services @ Zaikio",
                      "country_code": "DE",
                      "county": null,
                      "kind": "shipping",
                      "location": null,
                      "number": null,
                      "state": null,
                      "street": "Emmerich-Josef-Straße 1A",
                      "text": "Emmerich-Josef-Straße 1A, 55116 Mainz",
                      "town": "Mainz",
                      "types": [],
                      "zip_code": "55116",
                      "addressable": {
                        "id": "84bb7fea-d7c2-5383-aef4-e3ae1c1c6784",
                        "type": "Consumer",
                        "links": [
                          {
                            "rel": "self",
                            "href": "https://hub.sandbox.zaikio.com/api/v1/person/organizations"
                          }
                        ]
                      },
                      "created_at": "2022-04-14T12:09:35.233Z",
                      "updated_at": "2022-04-14T12:09:35.233Z"
                    }
                  },
                  "person": {
                    "id": "e1e65eee-135a-55a5-b2ce-921c6186b762",
                    "full_name": "John Doe",
                    "links": [
                      {
                        "rel": "self",
                        "href": "https://hub.sandbox.zaikio.com/api/v1/people/e1e65eee-135a-55a5-b2ce-921c6186b762"
                      }
                    ]
                  },
                  "order_line_items": [
                    {
                      "references": [
                        "COL/PIDAY"
                      ],
                      "amount": 4200,
                      "amount_in_base_unit": 4200,
                      "base_unit": "sheet",
                      "confirmed_delivery_at": null,
                      "description": "Smith Papers Magno Volume",
                      "order_number": "BS-5041487395",
                      "pricing": {
                        "unit_net_price": "21.56",
                        "total_net_price": "90552.0",
                        "tax_rate": null,
                        "taxes": "0.0",
                        "total_gross_price": "90552.0"
                      },
                      "sku": {
                        "id": "0c9af85b-1cab-590a-905e-038acd9bdfe3",
                        "amount": 1,
                        "amount_in_base_unit": 1,
                        "environmental_certification": null,
                        "order_number": "MAGVOL|115|92.0|65.0|0250|000000||S|SH||v1",
                        "palletized": false,
                        "unit": "sheet"
                      },
                      "created_at": "2022-04-14T12:09:35.418Z",
                      "updated_at": "2022-04-14T12:09:35.418Z"
                    }
                  ],
                  "links": [
                    {
                      "rel": "self",
                      "href": "/api/v2/orders/c109559a-aa5e-5371-b473-20e81366cf4d"
                    }
                  ],
                  "created_at": "2020-05-23T07:08:47.000Z",
                  "updated_at": "2022-04-14T12:09:35.425Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401-UnauthorizedJWT"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/429-TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Orders"
        ],
        "description": "Delete a draft order\n- needed bearer: `Organization`\n- needed scopes: `procurement_consumer.orders.w` or `procurement_consumer.orders.rw`",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "order_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/401-UnauthorizedJWT"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/429-TooManyRequests"
          }
        }
      }
    },
    "/organizations/{organization_id}/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "List your orders. Excludes drafts orders, unless they were created by the same app.\n- needed bearer: `Person`\n- needed scopes: `procurement_consumer.orders.r` or `procurement_consumer.orders.rw`",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/pageParam"
          },
          {
            "$ref": "#/components/parameters/perPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                },
                "example": [
                  {
                    "id": "c109559a-aa5e-5371-b473-20e81366cf4d",
                    "currency": "EUR",
                    "references": [
                      "CO/JDPS01"
                    ],
                    "state": "placed",
                    "pricing": {
                      "accuracy": "verified",
                      "total_net_price": "215600.0",
                      "total_gross_price": "0.0",
                      "net_handling_fee": null,
                      "net_shipping_fee": null,
                      "taxes": "0.0",
                      "taxes_on_fees": null
                    },
                    "canceled_by_consumer_at": null,
                    "canceled_by_supplier_at": null,
                    "confirmed_at": null,
                    "placed_at": "2022-03-14T04:14:15.000+01:00",
                    "transferred_at": null,
                    "delivery": {
                      "accuracy": "verified",
                      "date": "2022-06-19",
                      "desired_delivery_date": "2023-01-01",
                      "address": {
                        "id": "a060f862-fde7-5ba4-bb60-04ef3d6849ae",
                        "addition": null,
                        "addressee": "Doe Print Services @ Zaikio",
                        "country_code": "DE",
                        "county": null,
                        "kind": "shipping",
                        "location": null,
                        "number": null,
                        "state": null,
                        "street": "Emmerich-Josef-Straße 1A",
                        "text": "Emmerich-Josef-Straße 1A, 55116 Mainz",
                        "town": "Mainz",
                        "types": [],
                        "zip_code": "55116",
                        "addressable": {
                          "id": "84bb7fea-d7c2-5383-aef4-e3ae1c1c6784",
                          "type": "Consumer",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://hub.sandbox.zaikio.com/api/v1/person/organizations"
                            }
                          ]
                        },
                        "created_at": "2022-04-19T10:28:06.517+02:00",
                        "updated_at": "2022-04-19T10:28:06.517+02:00"
                      }
                    },
                    "person": {
                      "id": "e1e65eee-135a-55a5-b2ce-921c6186b762",
                      "full_name": "John Doe",
                      "links": [
                        {
                          "rel": "self",
                          "href": "https://hub.sandbox.zaikio.com/api/v1/people/e1e65eee-135a-55a5-b2ce-921c6186b762"
                        }
                      ]
                    },
                    "order_line_items": [
                      {
                        "references": [
                          "COL/PIDAY"
                        ],
                        "amount": 4200,
                        "amount_in_base_unit": 4200,
                        "base_unit": "sheet",
                        "confirmed_delivery_at": null,
                        "description": "Smith Papers Magno Volume",
                        "order_number": "BS-5041487395",
                        "pricing": {
                          "unit_net_price": "21.56",
                          "total_net_price": "90552.0",
                          "tax_rate": null,
                          "taxes": "0.0",
                          "total_gross_price": "90552.0"
                        },
                        "sku": {
                          "id": "0c9af85b-1cab-590a-905e-038acd9bdfe3",
                          "amount": 1,
                          "amount_in_base_unit": 1,
                          "environmental_certification": null,
                          "order_number": "MAGVOL|115|92.0|65.0|0250|000000||S|SH||v1",
                          "palletized": false,
                          "unit": "sheet"
                        },
                        "created_at": "2022-04-19T10:28:06.710+02:00",
                        "updated_at": "2022-04-19T10:28:06.710+02:00"
                      }
                    ],
                    "links": [
                      {
                        "rel": "self",
                        "href": "/api/v2/orders/c109559a-aa5e-5371-b473-20e81366cf4d"
                      }
                    ],
                    "created_at": "2020-05-23T09:08:47.000+02:00",
                    "updated_at": "2022-04-19T10:28:06.715+02:00"
                  }
                ]
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Link"
              },
              "Current-Page": {
                "$ref": "#/components/headers/Current-Page"
              },
              "Total-Count": {
                "$ref": "#/components/headers/Total-Count"
              },
              "Total-Pages": {
                "$ref": "#/components/headers/Total-Pages"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequestInvalidPage"
          },
          "401": {
            "$ref": "#/components/responses/401-UnauthorizedJWT"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/429-TooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "description": "\n- needed bearer: `Person`\n- needed scopes: `procurement_consumer.orders.w` or `procurement_consumer.orders.rw`",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "order"
                ],
                "properties": {
                  "order": {
                    "$ref": "#/components/schemas/Order_create"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                },
                "example": {
                  "id": "2b53534b-c83d-47ca-bbf2-2c1b2da2fa9d",
                  "currency": "EUR",
                  "references": [
                    "CO/BNRUNV"
                  ],
                  "state": "draft",
                  "pricing": {
                    "accuracy": "in_verification",
                    "total_net_price": "500.0",
                    "total_gross_price": "0.0",
                    "net_handling_fee": null,
                    "net_shipping_fee": null,
                    "taxes": "0.0",
                    "taxes_on_fees": null
                  },
                  "canceled_by_consumer_at": null,
                  "canceled_by_supplier_at": null,
                  "confirmed_at": null,
                  "placed_at": null,
                  "transferred_at": null,
                  "delivery": {
                    "accuracy": "in_verification",
                    "date": null,
                    "desired_delivery_date": "2022-04-15",
                    "address": {
                      "id": "306884fc-2e03-4cd1-89e0-ae94e6ac46e8",
                      "addition": null,
                      "addressee": "Doe Print Services @ Zaikio",
                      "country_code": "DE",
                      "county": null,
                      "kind": "shipping",
                      "location": [
                        49.99713999999999,
                        8.26519
                      ],
                      "number": "1A",
                      "state": "Rheinland Pfalz",
                      "street": "Emmerich-Josef-Straße",
                      "text": null,
                      "town": "Mainz",
                      "types": [
                        "street_address"
                      ],
                      "zip_code": "55116",
                      "addressable": {
                        "id": "84bb7fea-d7c2-5383-aef4-e3ae1c1c6784",
                        "type": "Consumer",
                        "links": [
                          {
                            "rel": "self",
                            "href": "https://hub.sandbox.zaikio.com/api/v1/person/organizations"
                          }
                        ]
                      },
                      "created_at": "2022-04-14T14:09:38.346+02:00",
                      "updated_at": "2022-04-14T14:09:38.346+02:00"
                    }
                  },
                  "person": {
                    "id": "e1e65eee-135a-55a5-b2ce-921c6186b762",
                    "full_name": "John Doe",
                    "links": [
                      {
                        "rel": "self",
                        "href": "https://hub.sandbox.zaikio.com/api/v1/people/e1e65eee-135a-55a5-b2ce-921c6186b762"
                      }
                    ]
                  },
                  "order_line_items": [
                    {
                      "references": [
                        "COL/A93MVW"
                      ],
                      "amount": 1,
                      "amount_in_base_unit": 8500,
                      "base_unit": "sheet",
                      "confirmed_delivery_at": null,
                      "description": "SMITH VOLUME PAPER – PS1 - Premium Coated, 920 × 650 mm, 115 g/㎡, short – FSC Mix Credit, 1 pallet of 8,500 sheets, 500.0 kg",
                      "order_number": "MAGVOL|115|92.0|65.0|0250|008500|FSC|S|PL||v1",
                      "pricing": {
                        "unit_net_price": "500.0",
                        "total_net_price": "500.0",
                        "tax_rate": null,
                        "taxes": null,
                        "total_gross_price": null
                      },
                      "sku": {
                        "id": "6f37e858-6e87-5119-881c-3e6a48aee8b1",
                        "amount": 1,
                        "amount_in_base_unit": 8500,
                        "environmental_certification": "FSC Mix Credit",
                        "order_number": "MAGVOL|115|92.0|65.0|0250|008500|FSC|S|PL||v1",
                        "palletized": true,
                        "unit": "pallet"
                      },
                      "created_at": "2022-04-14T14:09:38.341+02:00",
                      "updated_at": "2022-04-14T14:09:38.341+02:00"
                    }
                  ],
                  "links": [
                    {
                      "rel": "self",
                      "href": "/api/v2/orders/2b53534b-c83d-47ca-bbf2-2c1b2da2fa9d"
                    }
                  ],
                  "created_at": "2022-04-14T14:09:38.333+02:00",
                  "updated_at": "2022-04-14T14:09:38.333+02:00"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequestValidation"
          },
          "401": {
            "$ref": "#/components/responses/401-UnauthorizedJWT"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/429-TooManyRequests"
          }
        }
      }
    },
    "/organizations/{organization_id}/orders/{order_id}/place": {
      "patch": {
        "tags": [
          "Orders"
        ],
        "description": "Place the order, submitting it to the supplier\n- needed bearer: `Person`\n- needed scopes: `procurement_consumer.orders.w` or `procurement_consumer.orders.rw`",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "order_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                },
                "example": {
                  "id": "6baeb914-1174-51a8-a9b3-4d09f01f510a",
                  "currency": "EUR",
                  "references": [
                    "CO/JDPS01"
                  ],
                  "state": "placed",
                  "pricing": {
                    "accuracy": "verified",
                    "total_net_price": "215600.0",
                    "total_gross_price": "0.0",
                    "net_handling_fee": null,
                    "net_shipping_fee": null,
                    "taxes": "0.0",
                    "taxes_on_fees": null
                  },
                  "canceled_by_consumer_at": null,
                  "canceled_by_supplier_at": null,
                  "confirmed_at": null,
                  "placed_at": "2022-04-19T10:32:02.389+02:00",
                  "transferred_at": null,
                  "delivery": {
                    "accuracy": "verified",
                    "date": "2022-06-19",
                    "desired_delivery_date": "2023-01-01",
                    "address": {
                      "id": "a060f862-fde7-5ba4-bb60-04ef3d6849ae",
                      "addition": null,
                      "addressee": "Doe Print Services @ Zaikio",
                      "country_code": "DE",
                      "county": null,
                      "kind": "shipping",
                      "location": null,
                      "number": null,
                      "state": null,
                      "street": "Emmerich-Josef-Straße 1A",
                      "text": "Emmerich-Josef-Straße 1A, 55116 Mainz",
                      "town": "Mainz",
                      "types": [],
                      "zip_code": "55116",
                      "addressable": {
                        "id": "84bb7fea-d7c2-5383-aef4-e3ae1c1c6784",
                        "type": "Consumer",
                        "links": [
                          {
                            "rel": "self",
                            "href": "https://hub.sandbox.zaikio.com/api/v1/person/organizations"
                          }
                        ]
                      },
                      "created_at": "2022-04-19T10:31:59.475+02:00",
                      "updated_at": "2022-04-19T10:31:59.475+02:00"
                    }
                  },
                  "person": {
                    "id": "e1e65eee-135a-55a5-b2ce-921c6186b762",
                    "full_name": "John Doe",
                    "links": [
                      {
                        "rel": "self",
                        "href": "https://hub.sandbox.zaikio.com/api/v1/people/e1e65eee-135a-55a5-b2ce-921c6186b762"
                      }
                    ]
                  },
                  "order_line_items": [
                    {
                      "references": [
                        "COL/XTRUAA"
                      ],
                      "amount": 10000,
                      "amount_in_base_unit": 10000,
                      "base_unit": "sheet",
                      "confirmed_delivery_at": null,
                      "description": "Smith Papers Magno Volume",
                      "order_number": "BS-5041487395",
                      "pricing": {
                        "unit_net_price": "21.56",
                        "total_net_price": "215600.0",
                        "tax_rate": null,
                        "taxes": "0.0",
                        "total_gross_price": "215600.0"
                      },
                      "sku": {
                        "id": "0c9af85b-1cab-590a-905e-038acd9bdfe3",
                        "amount": 1,
                        "amount_in_base_unit": 1,
                        "environmental_certification": null,
                        "order_number": "MAGVOL|115|92.0|65.0|0250|000000||S|SH||v1",
                        "palletized": false,
                        "unit": "sheet"
                      },
                      "created_at": "2022-04-19T10:31:59.641+02:00",
                      "updated_at": "2022-04-19T10:31:59.641+02:00"
                    }
                  ],
                  "links": [
                    {
                      "rel": "self",
                      "href": "/api/v2/orders/6baeb914-1174-51a8-a9b3-4d09f01f510a"
                    }
                  ],
                  "created_at": "2020-05-23T09:08:47.000+02:00",
                  "updated_at": "2022-04-19T10:32:02.408+02:00"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequestValidation"
          },
          "401": {
            "$ref": "#/components/responses/401-UnauthorizedJWT"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/429-TooManyRequests"
          }
        }
      }
    },
    "/organizations/{organization_id}/orders/{order_id}/cancel": {
      "patch": {
        "tags": [
          "Orders"
        ],
        "description": "Cancel the order (if possible)\n- needed bearer: `Person`\n- needed scopes: `procurement_consumer.orders.w` or `procurement_consumer.orders.rw`",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "order_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                },
                "example": {
                  "id": "c109559a-aa5e-5371-b473-20e81366cf4d",
                  "currency": "EUR",
                  "references": [
                    "CO/JDPS01"
                  ],
                  "state": "canceled_by_consumer",
                  "pricing": {
                    "accuracy": "verified",
                    "total_net_price": "215600.0",
                    "total_gross_price": "0.0",
                    "net_handling_fee": null,
                    "net_shipping_fee": null,
                    "taxes": "0.0",
                    "taxes_on_fees": null
                  },
                  "canceled_by_consumer_at": "2022-04-19T10:32:01.249+02:00",
                  "canceled_by_supplier_at": null,
                  "confirmed_at": null,
                  "placed_at": "2022-03-14T04:14:15.000+01:00",
                  "transferred_at": null,
                  "delivery": {
                    "accuracy": "verified",
                    "date": "2022-06-19",
                    "desired_delivery_date": "2023-01-01",
                    "address": {
                      "id": "a060f862-fde7-5ba4-bb60-04ef3d6849ae",
                      "addition": null,
                      "addressee": "Doe Print Services @ Zaikio",
                      "country_code": "DE",
                      "county": null,
                      "kind": "shipping",
                      "location": null,
                      "number": null,
                      "state": null,
                      "street": "Emmerich-Josef-Straße 1A",
                      "text": "Emmerich-Josef-Straße 1A, 55116 Mainz",
                      "town": "Mainz",
                      "types": [],
                      "zip_code": "55116",
                      "addressable": {
                        "id": "84bb7fea-d7c2-5383-aef4-e3ae1c1c6784",
                        "type": "Consumer",
                        "links": [
                          {
                            "rel": "self",
                            "href": "https://hub.sandbox.zaikio.com/api/v1/person/organizations"
                          }
                        ]
                      },
                      "created_at": "2022-04-19T10:31:59.475+02:00",
                      "updated_at": "2022-04-19T10:31:59.475+02:00"
                    }
                  },
                  "person": {
                    "id": "e1e65eee-135a-55a5-b2ce-921c6186b762",
                    "full_name": "John Doe",
                    "links": [
                      {
                        "rel": "self",
                        "href": "https://hub.sandbox.zaikio.com/api/v1/people/e1e65eee-135a-55a5-b2ce-921c6186b762"
                      }
                    ]
                  },
                  "order_line_items": [
                    {
                      "references": [
                        "COL/PIDAY"
                      ],
                      "amount": 4200,
                      "amount_in_base_unit": 4200,
                      "base_unit": "sheet",
                      "confirmed_delivery_at": null,
                      "description": "Smith Papers Magno Volume",
                      "order_number": "BS-5041487395",
                      "pricing": {
                        "unit_net_price": "21.56",
                        "total_net_price": "90552.0",
                        "tax_rate": null,
                        "taxes": "0.0",
                        "total_gross_price": "90552.0"
                      },
                      "sku": {
                        "id": "0c9af85b-1cab-590a-905e-038acd9bdfe3",
                        "amount": 1,
                        "amount_in_base_unit": 1,
                        "environmental_certification": null,
                        "order_number": "MAGVOL|115|92.0|65.0|0250|000000||S|SH||v1",
                        "palletized": false,
                        "unit": "sheet"
                      },
                      "created_at": "2022-04-19T10:31:59.641+02:00",
                      "updated_at": "2022-04-19T10:31:59.641+02:00"
                    }
                  ],
                  "links": [
                    {
                      "rel": "self",
                      "href": "/api/v2/orders/c109559a-aa5e-5371-b473-20e81366cf4d"
                    }
                  ],
                  "created_at": "2020-05-23T09:08:47.000+02:00",
                  "updated_at": "2022-04-19T10:32:01.315+02:00"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequestValidation"
          },
          "401": {
[...]
