.browser-mockup {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 2em;
  padding-top: 2em;
  background-color: #3d3e40;
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: "";
  top: 0.75em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #c8c9cc;
  box-shadow: 0 0 0 2px #c8c9cc, 1.5em 0 0 2px #c8c9cc, 3em 0 0 2px #c8c9cc;
}

.browser-mockup:after {
  display: block;
  position: absolute;
  content: attr(data-url);
  top: 0.5em;
  left: 7.5em;
  right: 0.5em;
  height: 1.5em;
  padding: 0 10px;
  line-height: 1.5em;
  font-size: 0.8em;
  border-radius: 2px;
  background-color: white;
  color: #6b6c6e;
  text-align: left;
}

.browser-mockup p {
  margin: 0;
  padding: 0;
}

.browser-mockup img {
  width: 100%;
  display: block;
}
