@import 'swagger-ui'
@import 'jwt-verifier'
@import 'browser-mockup'

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 15px;
}

.grid > div {
  background-color: #F2F3F5;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
}

.grid .browser-mockup {
  margin: 0;
  margin-bottom: 10px;
}

.theme-container.full-width .content__default {
  max-width: 1300px;
  padding: 0;
}

.theme-container.changelog .content__default {
  max-width: 1000px;
}

.changelog-wrapper {
  padding-top: 50px;
}

#api-doc-wrapper {
  padding-top: 1px;
}

.navbar .site-name {
  display: none;
}

.home .hero .action-button {
  color: #000 !important;
}

.navbar .logo {
  vertical-align: middle !important;
  height: 1.7rem !important;
}

a {
  color: #40b781;
}

.sidebar-heading.open, .sidebar-heading:hover {
/*  color: $white !important;*/
}
