.jwt-verifier {
  margin: 20px 0;
}

.jwt-verifier textarea {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 2px solid #008DF5;
}

.jwt-verifier label {
  width: 100%;
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.jwt-verifier select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  box-sizing: border-box;
}

.jwt-verifier button {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #008DF5;
  color: #008DF5;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  float: right;
}

.jwt-verifier .clearfix {
  display: block;
  clear: both;
}
